{% extends 'base.html' %}
{% block content %}

            <h1>Contact Us</h1>
            <form>
                Name: <br /><input type="text" /><br /><br />
                Email: <br /><input type="email" /><br /><br />
                Issue: <br />
                <select>
                    <option>IT Support</option>
                    <option>Registrar</option></select
                ><br /><br />
                Message: <br /><textarea></textarea><br /><br />
                <input type="submit" value="Submit" />
            </form>
        </div>
        {% include 'partials/forms.html' %}

{% endblock %}
