{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="main">
    <center>
    <h1>Campus Management System</h1>
    <h3 style="color: #ffdb26;">Welcome to the Future of Campus Life!</h3>
    <p>
        Manage your academic journey with ease through<br>
        our all-in-one Campus Portal. Stay connected,<br>
        stay informed, and if you have any questions,<br>
        our contact hub is just a click away.<br>

        Your campus, simplified.
    </p>

    <a href="/students/list" class="btn">Student Directory</a><br />
    <a href="/courses/catalog" class="btn">Course Catalog</a>
    </center>
    </div>
    <img src="{% static 'images/campus.png' %}" alt="Image of a campus" width="500"/>
</div>


{% endblock %}
