{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="main">
    <center>
    <h1>Campus Management System</h1>
    <h3>Welcome to the Administration Portal</h3>
    <p>
        This system allows you to manage students <br>and courses
        efficiently.
    </p>

    <a href="/students/list" class="btn">Student Directory</a><br />
    <a href="/courses/catalog" class="btn">Course Catalog</a>
    </center>
    </div>
    <img src="{% static 'images/campus.png' %}" alt="Image of a campus" width="500"/>
</div>


{% endblock %}
