* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #043873;
    color: white;
    font-family: 'JetBrains mono';
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #043873;
    padding: 10px 0;
}

a {
    color: white;
    font-family: 'JetBrains Mono';
    font-size: 20px;
    line-height: 1.6;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

nav a:hover {
    color: #ffdb26;
    border-bottom: 1px solid white;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 80px;
}
.main {
    padding: 20px;
    align-content: center;
}

.btn {
    display: inline-block;
    background-color: #ffffff;
    color: #043873;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 5px;
}

main {
    flex: 1;
}

footer {
    text-align: center;
    width: 100%;
}
