* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #043873;
    color: white;
    font-family: 'JetBrains mono';
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #043873;
    padding: 10px 0;
}

a {
    color: white;
    font-family: 'JetBrains Mono';
    font-size: 20px;
    line-height: 1.6;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

nav a:hover {
    color: #ffdb26;
    border-bottom: 1px solid white;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 80px;
}

.std_table {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
}

.std_table table {
    width: 50%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ffffff;
    padding: 5px;
    text-align: left;
}

th, td:hover {
    border: 1px solid #ffdb26;
    background-color: #ffdb26;
    color: #043873;
    padding: 5px;
    text-align: left;
}

.crse_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /*margin-top: 30px;*/
}

.crse_details table {
    width: 20%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

ul li {
    padding: 5px;
}

li:hover {
    color: #ffdb26;
}

.crs_table {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
}

.crs_table table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
}

.main {
    flex: 1;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.btn {
    display: inline-block;
    background-color: #ffffff;
    color: #043873;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 5px;
}

.btn:hover {
    display: inline-block;
    background-color: #ffdb26;
    color: #043873;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 5px;
}

#del_btn {

    padding: 0px;
    text-align: left;
}

.dltdlt {
    background-color: #043873;
    border: 1px solid white
}
.dltdlt a {
    color:white;
}

.formstudent {
    padding: 5px;
}

#updater {
    flex-direction: column;
}

#formsforms {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    padding: 30px;
    background-color: #ffdb26;
    margin: 2rem auto;
    border: 1px solid #ffdb26;
    border-radius: 10px;
}
#formsforms h1,
#formsforms p,
#formsforms label{
    color: #043873;
}

.formstudent {
    margin-top: 20px;
}

.formstudent label{
    padding: 5px;
}

.formstudent input {
    display: block;
    width: 15rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #043873;
    margin: 5px;
}


.formstudent input[type="checkbox"] {
    width: 2rem;
    height:2rem;
    accent-color: #043873;
    cursor: pointer;
}

textarea {
    display: block;
    width: 20rem;
    height:10rem;
    accent-color: #043873;
    font-size: 16px;
    resize: none;
}

.formstudent input[type="submit"] {
    display: block;
    background-color: white;
    color: #043873;
    border: 2px solid #043873;
    cursor: pointer;
    width: 8rem;
    margin: 1.5rem auto 0
}

.aboutbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    padding: 20px;
}

.abouttable {
    width: 70%;
    margin: 20px auto 0;
    border: 1px solid white;

}

main {

    flex: 1;
}

footer {
    text-align: center;
    width: 100%;
}
