{% extends 'base.html' %}
{% block content %}
        <div>
            <h2>Course Catalog</h2>

            <p>Select your course:</p>
            <ul>
            {% for items in courses %}
                <li>{{ items }}</li>
            {% endfor %}
            </ul>
                <br><br>

                <h2>Total UG courses    :   {{count.UG}}</h2>
                <h2>Total PG courses    :   {{count.PG}}</h2>

                {% if count.PG > 3 %}
                <h4>NAAC ACREDITED COLLEGE!</h4>
                {% endif %}

                <input
                    type="submit"
                    value="Confirm"
                    cursor: pointer"
                />
            </form>
        </div>
{% endblock %}
