{% extends 'base.html' %}
{% block content %}
        <div class="crse_details">
            <h1>Course Catalog</h1>

            <p>Select your course:</p>
            <table>
                <tr>
                    <th>Courses</th>
                </tr>
            {% for items in courses %}
                <tr><td>{{ items }}</td></tr>
            {% endfor %}
            </table>
                <br>
                <a href="" class="btn">Course Details</a>
                <br>

                <h3>Total UG courses    :   {{count.UG}}</h3>
                <h3>Total PG courses    :   {{count.PG}}</h3>

                {% if count.PG > 3 %}
                <h4>NAAC ACREDITED COLLEGE!</h4>
                {% endif %}

                <input
                    type="submit"
                    value="Confirm"
                    cursor: pointer"
                />
            </form>
        </div>
{% endblock %}
