{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" id='updater'>
    <h2>Course Detials</h2>
<table class="crs_table">
    <tr>
        <th>Name</th>
        <th>Specialization</th>
        <th>Fee</th>
        <th>Accreditation</th>
        <th colspan="2">Action</th>
    </tr>

    {% for course in details %}
    <tr>
        <td>{{course.name}}</td>
        <td>{{course.spec}}</td>
        <td>{{course.fee}}</td>
        <td>{{course.accr}}</td>
        <td class="dltdlt"><a id='del_btn' href="{% url 'coursedelete' course.id %}">Delete</a></td>
        <td class="dltdlt"><a id="del_btn" href="{% url 'courseupdate' course.id %}">Edit</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
