body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

p {
    color: rgba(243, 7, 27, 0.539);
}

.luffy {
    background-color: rgba(149, 52, 185, 0.5);
    background-image: url(luffyback.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}