{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="std_table">
    <h2>Student List</h2>

    {# The following is the contect passed from view #}

    <h3>Count of Students : {{count}}</h3>

    {% if count >= 3 %}
    <h3 style="color: mediumspringgreen;">Total enrollment is greater than last year!</h3>
    {% endif %}

    <table>
        <tr>
            <th>Slno</th>
            <th>Name</th>
            <th>Sem</th>
            <th>Course</th>
        </tr>
        {% for stud in data %}
        <tr>
            <td>{{stud.slno}}</td>
            <td>{{stud.name}}</td>
            <td>{{stud.sem}}</td>
            <td>{{stud.course}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
