{% extends 'base.html' %}
{% block content %}
        <div>
            <h2>Student List</h2>

            {# The following is the contect passed from view #}

            <!--{% if adm_data.admission_closed %}
            <h2 style="color: red;">Admissions are closed for now</h2>

            {% else %}
            <h2 style="color: mediumseagreen;">Admissions are still open</h2>-->

            {% endif %}
            <h3>Count of Students : {{count}}</h3>

            {% if count >= 3 %}
            <h3>Total enrollment is greater than last year!</h3>
            {% endif %}

            <table>
                <tr>
                    <th>Slno</th>
                    <th>Name</th>
                    <th>Sem</th>
                    <th>Course</th>
                </tr>
                {% for stud in data %}
                <tr>
                    <td>{{stud.slno}}</td>
                    <td>{{stud.name}}</td>
                    <td>{{stud.sem}}</td>
                    <td>{{stud.course}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
{% endblock %}
